<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="image/home.png" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
    <style type="text/css">
        li:hover{
            background-color: #b2b2b2;
        }
    </style>
    {{{_sections.css}}}
</head>
<body style="background-color: #e5e5e5">
     <nav class="navbar navbar-default" style="background-color: #7f7f7f">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-2 col-xs-12">
                <a class="navbar-brand" style="color: white;text-align: center; display: block;" href="/home"><span>Trang chủ</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 col-md-10 col-xs-12">
                <ul class="nav navbar-nav col-md-4 col-xs-8">
                    <form class="navbar-form navbar-left" style="width: 100%" >
                        <div class="form-group col-md-9">
                            <input id="tensp" type="text" class="form-control" style="width: 100%" placeholder="Nhập tên sản phẩm mong muốn...">
                        </div>
                        <button href="#" aria-controls="timkiem" role="tab" data-toggle="tab" type="submit" class="btn btn-default" ">Tìm kiếm</button>
                    </form> 
                </ul>       
                <ul class="nav navbar-nav navbar-right col-md-6">
                    {{#if layoutVM.isLogged}}
                        <form id="frmLogout" method="post" action="/account/logout"></form>                        
                        <li class="dropdown" style="float: right;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="font-family: Arial; margin: 0 0; padding: 0 0; color: white">Hi {{layoutVM.curUser.Username}}!</span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/profile">Thông tin tài khoản</a></li>
                                <li><a href="/account/message">Thông báo của bạn</a></li>
                                <li><a href="#">Lịch sử đơn hàng</a></li>
                                <li><a id="lnkLogout" href="javascript:;">Đăng xuất</a></li>
                            </ul>
                        </li>
                        <li style="float: right;">
                            <a href="/cart" style="color: white"><span class="glyphicon glyphicon-shopping-cart"></span><span style="font-family: Arial; margin: 0 0; padding: 0 0">Giỏ hàng ({{layoutVM.cartSummary}} items)</span></a>
                        </li>
                        {{#if layoutVM.isAdmin}}
                            <li style="float: right;">
                            <a href="/category" style="color: white"><span class="glyphicon glyphicon-file"></span><span style="font-family: Arial; margin: 0 0; padding: 0 0">Quản lý</span></a>
                        </li>
                        {{/if}}
                    {{else}}
                    <li style="float: right;"><a href="/account/register" style="color: white ">Đăng ký</a></li>
                    <li style="float: right;"><a href="/account/login" style="color: white">Đăng nhập</a></li>
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quản lý cơ sở dự liệu</h3>
                    </div>
                    <div class="list-group">
                        <a href="/category" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"><span style="font-family: Arial; margin: 0 0; padding: 0 0">&nbsp;Category</span></span></a>
                        <a href="/product" class="list-group-item"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"><span style="font-family: Arial; margin: 0 0; padding: 0 0">&nbsp;Product</span></span></a>
                        <a href="/user" class="list-group-item"><span class="glyphicon glyphicon-bell" aria-hidden="true"><span style="font-family: Arial; margin: 0 0; padding: 0 0">&nbsp;User</span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            {{{_sections.title}}}
                        </h2>
                    </div>
                    <div class="panel-body" style="padding-top: 0px">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#lnkLogout').on('click', function() {
            $('#frmLogout').submit();
        });
    </script>
    {{{_sections.js}}}
</body>
</html>